# This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with this program.  If not, see
# <http://www.gnu.org/licenses/>.
#
# https://github.com/greiginsydney/hyperiONOFF
# https://greiginsydney.com/hyperiONOFF


[Unit]
Description=hyperiONOFF script. Runs continuously, reading a GPIO pin & writing changes to Hyperion
Requires=hyperion@root.service
After=hyperion@root.service

StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=simple
User=hyperion
Group=www-data
WorkingDirectory=/home/hyperion/hyperiONOFF
Environment="PATH=/home/hyperion/hyperiONOFF"
ExecStart=/usr/bin/python3 -u /home/hyperion/hyperiONOFF/hyperiONOFF.py
StandardError=journal

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
